<h1 mat-dialog-title>連絡先を入力</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field>
      <mat-label>会社名</mat-label>
      <input matInput placeholder="会社名:"  [(ngModel)]="data.corporation" required/>
    </mat-form-field>  
  </div>
  <div>
    <mat-form-field>
      <mat-label>お名前</mat-label>
      <input matInput placeholder="お名前:" [(ngModel)]="data.name" required/>
    </mat-form-field>  
  </div>
  <div>
    <mat-form-field>
      <mat-label>メールアドレス</mat-label>
      <input matInput placeholder="メールアドレス:" [(ngModel)]="data.address" required/>
    </mat-form-field>  
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">戻る</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>更新</button>
</div>